@tailwind base;
@tailwind components;
@tailwind utilities;

/* Désactiver la loupe iOS sur toute l'app */
html, body, * {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

/* Réactiver la sélection sur les inputs texte si nécessaire */
input[type="text"], input[type="search"], textarea {
    -webkit-user-select: text;
    user-select: text;
}